.menu {
  background-color: #ffffff;
}
.menu ul {
  padding: 15px 0;
  margin-bottom: 0;
}
.menu ul li {
  list-style: none;
  margin: 5px 0;
  margin-left: 30px;
  padding: 10px 0;
  margin-left: 0;
}
.menu ul li a {
  text-decoration: none;
  color: #666666;
  margin: 10px 0;
  margin-left: 20px;
  padding: 10px 0;
  
}
.menu ul li a span{
    margin-left: 10px;
    
}
.menu ul li:hover {
  background-color: #ebebeb;
  color: #ffffff;
}
.menu ul li a:hover {
    
    color:#3483fa;
  }
 