.tarjetas {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 40px auto;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.tarjetas .control {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 90px;
}
.control .avanzar {
  top: 30px;
  right: 20px;
  position: absolute;
  z-index: 5;
}
.control .retroceder {
  top: 30px;
  left: 20px;
  position: absolute;
  z-index: 5;
}
.tarjetas h3 {
  font-size: 18px;
}
.tarjetas a {
  font-size: 14px;
  text-decoration: none;
}
.tarjetas .tarjetas__unicas img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.tarjetas .tarjetas__unicas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.tarjetas .tarjetas__unicas h3 {
  line-height: 2px;
  margin-top: 10px;
  font-weight: 400;
}

.tarjetas .tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4 {
  width: 100%;
}

.tarjetas .tarjeta3 {
  width: 100%;
}
.tarjetas .tarjeta4 {
  width: 100%;
}
.tarjetas .tarjeta5 {
  display: none;
}
.tarjet-contenedor {
  display: flex;
  width: 400%;
  position: absolute;
}

@media screen and (min-width: 769px) {
  .tarjetas {
   
    position: relative;
    width: 90%;
    margin: 20px auto;
  }
  .control {
    display: none;
  }
  .tarjet-contenedor {
    display: flex;
    width: 100%;
    margin-left: 0;
    position: absolute;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tarjet-contenedor .tarjeta1,
  .tarjeta2 {
    width: 20%;
  }
  .tarjet-contenedor .tarjeta3 {
    width: 20%;
  }
  .tarjet-contenedor .tarjeta4 {
    width: 20%;
  }
  .tarjet-contenedor .tarjeta5 {
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1050px) {
  .tarjet-contenedor .tarjeta5 {
    display: none;
  }
  .tarjetas {
    width: 99%;
  }
  .tarjet-contenedor .tarjeta1,
  .tarjeta2 {
   margin: 0;
   width: 24%;
  }
  .tarjet-contenedor .tarjeta3 {
    margin: 0;
    width: 24%;
  }
  .tarjet-contenedor .tarjeta4 {
    margin: 0;
    width: 24%;
  }
  .tarjet-contenedor .tarjeta5 {
    display: none;
  }
  .tarjet{
    display: inline;
  }
  .tarjet h3{
    width: 100%;
   
  }
  .tarjetas .tarjetas__unicas img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1051px) {
  .tarjetas {
   
   width: 80%;
  }
}